<!DOCTYPE html>
<html lang="ru">
{{> head}}
<body>
  {{> mini-preloader}}
  {{> header about-page=true}}
  <main class="main">
    <div class="">
      {{> about-first-section}}
      {{> in-circulation}}
      {{> gallery}}
    </div>
    {{> footer}}
  </main>
</body>
</html>
