<head>
  <meta charset="UTF-8" />
  <title>PLASTIC–NFT</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="PLASTIC–NFT" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="../images/content/opengraph.jpg" />
  <link rel="icon" type="image/png" href="../images/content/favicon.png" />
  <script>
    window.pageLoaded = false; window.addEventListener("load", function() {
    window.pageLoaded = true; }); window.onbeforeunload = function() {
    window.scrollTo(0, 0); };
  </script>
</head>