<!DOCTYPE html>
<html lang="ru">
{{> head}}
<body>
  {{> mini-preloader}}
  {{> header profile-page=true}}
  <main class="main">
    <div class="content">
      {{> sign-in}}
      {{> footer}}
    </div>
  </main>
</body>
</html>
