@use "scss/global" as *;

.gallery {
  overflow: hidden;
  margin-bottom: 64px;
  position: relative;
  display: flex;
}

.gallery__img {
  height: 600px;
  width: 600px;
  object-fit: cover;
}

.gallery__img-wrapper {
  min-width: 1800px;
  display: flex;
  animation: gallery-main-animation 30s linear infinite;

  &_sub {
    left: 2px;
    top: 0;
    transform: translateX(-100%);
    position: absolute;
    animation: gallery-sub-animation 30s linear infinite;
  }
}

@keyframes gallery-main-animation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes gallery-sub-animation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@media screen and (min-width: $desktop-lg-width) {
  .gallery__img {
    height: get-vw(600px, $desktop-lg-width);
    width: get-vw(600px, $desktop-lg-width);
  }

  .gallery__img-wrapper {
    min-width: get-vw(1800px, $desktop-lg-width);
  }
}

@media screen and (max-width: $tablet-md-width) {
  .gallery__img {
    height: 400px;
    width: 400px;
  }

  .gallery__img-wrapper {
    min-width: 1200px;
  }
}

@media screen and (max-width: $phone-width) {
  .gallery__img {
    width: 280px;
    height: 280px;
  }

  .gallery__img-wrapper {
    min-width: 840px;
  }
}
