<div class="buy-now-item appearance-animation">
  {{> product-img}}
  <h3 class="buy-now-item__title text text_color_black text_uppercase text_size_desc text_weight_bold">
    Texture collection
  </h3>
  <div class="buy-now-item__cost text text_size_h2 text_weight_normal text_color_black">
    € 2 368
  </div>
  <div class="buy-now-item__cost text text_color_black text_uppercase text_size_desc text_weight_bold">
    02.03.2022 / 234 Left
  </div>
  <a href="/" class="buy-now-item__button button button_type_main button_color_black text text_size_h2 text_color_white text_uppercase text-fix" data-i18n="buy-now.buy-button">Buy now</a>
</div>