<div class="collection-slider appearance-animation">
  <div class="collection-slider__inner collection-slider__inner_desktop">
    <div class="collection-slider__items-wrapper collection-slider__items-wrapper_active">
      <div class="collection-slider__item">
        {{> product-img}}
      </div>
      <div class="collection-slider__item">
        {{> product-img}}
      </div>
      <div class="collection-slider__item">
        {{> product-img}}
      </div>
    </div>
    <div class="collection-slider__items-wrapper">
      <div class="collection-slider__item">
        {{> product-img}}
      </div>
      <div class="collection-slider__item">
        {{> product-img}}
      </div>
      <div class="collection-slider__item">
        {{> product-img}}
      </div>
    </div>
    <div class="collection-slider__items-wrapper">
      <div class="collection-slider__item">
        {{> product-img}}
      </div>
      <div class="collection-slider__item">
        {{> product-img}}
      </div>
      <div class="collection-slider__item">
        {{> product-img}}
      </div>
    </div>
  </div>
  <div class="collection-slider__inner collection-slider__inner_mobile">
    <div class="collection-slider__mobile-item">
      {{> product-img}}
    </div>
    <div class="collection-slider__mobile-item">
      {{> product-img}}
    </div>
    <div class="collection-slider__mobile-item">
      {{> product-img}}
    </div>
    <div class="collection-slider__mobile-item">
      {{> product-img}}
    </div>
    <div class="collection-slider__mobile-item">
      {{> product-img}}
    </div>
    <div class="collection-slider__mobile-item">
      {{> product-img}}
    </div>
  </div>
  <button
    class="collection-slider__button collection-slider__button_right button button_type_main button_color_black text text_size_h2 text_color_white text_uppercase text-fix"
    data-i18n="collection.next-button"
  >
    Next
  </button>
  <button
    class="collection-slider__button collection-slider__button_left button button_type_main button_color_black text text_size_h2 text_color_white text_uppercase text-fix"
    data-i18n="collection.prev-button"
  >
    Prev
  </button>
</div>