<div class="in-circulation-item appearance-animation">
  <img src="{{img}}" alt="" class="in-circulation-item__img" />
  <span
    class="in-circulation-item__number text_size_h2 text_weight_normal text_color_white"
  >
    {{number}}
  </span>
</div>