<a href="" class="media-item appearance-animation">
  {{> product-img}}
  <div class="media-item__title text_size_h2 text_color_black text_weight_normal text_uppercase">
    Plastic—NFT
    project
  </div>
  <div class="media-item__desc text_color_black text_size_desc text_weight_bold text_uppercase">
    02.03.2022 / meduza
  </div>
</a>