<div class="your-collection-item appearance-animation">
  {{> product-img}}
  <h3 class="your-collection-item__title text text_color_black text_uppercase text_size_h2 text_weight_normal">
    Texture collection
  </h3>
  <div class="your-collection-item__desc text text_color_black text_uppercase text_size_desc text_weight_bold">
    02.03.2022 / 234 Left
  </div>
</div>