<!DOCTYPE html>
<html lang="ru">
{{> head}}
<body>
  {{> preloader}}
  {{> header main-page=true}}
  <main class="main">
    {{> first-section}}
    {{> collection-consists}}
    {{> media}}
    {{> team}}
    {{> partners}}
    {{> footer}}
  </main>
</body>
</html>
