<!DOCTYPE html>
<html lang="ru">
{{> head}}
<body>
  {{> mini-preloader}}
  {{> header buy-now=true}}
  <main class="main">
    <div class="content">
      {{> buy-now}}
      {{> footer}}
    </div>
  </main>
</body>
</html>
