<section class="about-first-section main-padding first-section-margin-top">
  <h1
    class="about-first-section__title text_size_h1 text_color_black text_weight_normal text_uppercase"
    data-i18n="about.title"
  >
    Plastic–NFT
    <br />
    about
  </h1>
  <div class="about-first-section__main">
    <div
      class="about-first-section__main-text-wrapper text_size_main text_weight_medium text_color_black"
    >
      <div 
        class="about-first-section__text-column with-p"
        data-i18n="about.text-1"
      >
        <p>
          «Дизайн и производство одноразовых вещей стало проблемой, это один из
          главных источников загрязнения окружающей среды.
        </p>
        <p>
          Выбирая материалы и технологию производства, я ориентируюсь на
          принципы устойчивого проектирования: - проектирование жизненного цикла
          продукта и компонентов; - использование энергоэффективных и этичных
          способов производства; - стремление к низкому воздействию на
          окружающую среду при производстве, перевозке и обработке сырья,
          материалов и объектов; - использование переработанных материалов,
          новых материалов; и прочие.
        </p>
      </div>
      <div
        class="about-first-section__text-column with-p"
        data-i18n="about.text-2"
      >
        <p>
          Решить проблемы индустрии производства и потребления можно только
          системно – помогать ученым, создавая условия для полезных
          исследований, помогать бизнесу искать способы быть устойчивыми и
          активно работать с креативным сектором экономики. Новые технологии и
          визуальные инструменты мы можем использовать для создания уникальных
          объектов. Эта коллекция NFT была создана на основе реальных текстур
          переработанного пластика, <br>
          которые создавались мной <br>
          на протяжении 4
          лет.»
        </p>
      </div>
      <div class="appearance-animation about-first-section__blot-wrapper about-first-section__blot-wrapper_mobile">
        <div class="about-first-section__blot">
          {{> blot-3}}
        </div>
        <div 
          class="about-first-section__text text_size_main text_weight_medium text_color_white with-p"
          data-i18n="about.quote"
        >
          <p>
            (с) Буляш Тодаева,автор проекта
          </p>
          <p>
            дизайнер, инженер в области
            устойчивого развития,
            основатель Zerowaste lab.
          </p>
        </div>
      </div>
      <div
        class="appearance-animation about-first-section__desc about-first-section__desc_mobile text_size_desc text_color_black text_weight_bold text_uppercase with-p"
        data-i18n="about.desc"
      >
        <p>
          «Это возможность отвечать на глобальные вызовы с учетом тех ресурсов, которыми я обладаю.
          Для того, чтобы решения появились быстрее
          и эффективнее, нужно проектировать — процессы, предметы, сервисы.
        </p>
        <p>
          Дизайн - потрясающая сила, которая может связать разные смыслы, темы и образы.
          И он помогает нам быть устойчивее.»
        </p>
      </div>
    </div>
    <div class="about-first-section__sub-column-width">
      <div class="about-first-section__img-wrapper">
        <img
          src="../../images/content/buliash.jpg"
          alt="Буляш Тодаева"
          class="about-first-section__img"
        />
        <div class="about-first-section__blot-wrapper about-first-section__blot-wrapper_desktop">
          <div class="about-first-section__blot">
            {{> blot-2}}
          </div>
          <div class="about-first-section__text text_size_main text_weight_medium text_color_white with-p" data-i18n="about.quote">
            <p>
              (с) Буляш Тодаева,автор проекта
            </p>
            <p>
              дизайнер, инженер в области
              устойчивого развития,
              основатель Zerowaste lab.
            </p>
          </div>
        </div>
      </div>
      <div 
        class="appearance-animation about-first-section__desc about-first-section__desc_desktop text_size_desc text_color_black text_weight_bold text_uppercase with-p"
        data-i18n="about.desc"  
      >
        <p>
          «Это возможность отвечать на глобальные вызовы с учетом тех ресурсов, которыми я обладаю.
          Для того, чтобы решения появились быстрее
          и эффективнее, нужно проектировать — процессы, предметы, сервисы.
        </p>
        <p>
          Дизайн - потрясающая сила, которая может связать разные смыслы, темы и образы.
          И он помогает нам быть устойчивее.»
        </p>
      </div>
    </div>
  </div>
  <div class="about-first-section__blur">
    <div class="about-first-section__blur-item"></div>
  </div>
</section>