<section class="buy-now main-padding first-section-margin-top">
  <div class="buy-now__blur">
    <div class="buy-now__blur-item"></div>
  </div>
  <div class="buy-now__title-wrapper">
    <h1
      class="buy-now__title text text_uppercase text_size_h1 text_color_black text_weight_normal"
      data-i18n="buy-now.title"
    >
      Buy now
    </h1>
    <p
      class="buy-now__desc text text_type_desc text_color_black text_weight_bold text_uppercase"
      data-i18n="buy-now.desc"
    >
      Проект направлен на<br />
      сбор средств на развитие<br />
      переработки пластика<br />
      и создание доступных<br />
      всем материалов на его основе
    </p>
  </div>
  <div class="buy-now__main">
    <div class="buy-now__item-wrapper">
      {{> buy-now-item}}
    </div>
    <div class="buy-now__item-wrapper">
      {{> buy-now-item}}
    </div>
    <div class="buy-now__item-wrapper">
      {{> buy-now-item}}
    </div>
    <div class="buy-now__item-wrapper">
      {{> buy-now-item}}
    </div>
    <div class="buy-now__item-wrapper">
      {{> buy-now-item}}
    </div>
    <div class="buy-now__item-wrapper">
      {{> buy-now-item}}
    </div>
    <div class="buy-now__item-wrapper">
      {{> buy-now-item}}
    </div>
    <div class="buy-now__item-wrapper">
      {{> buy-now-item}}
    </div>
    <div class="buy-now__item-wrapper">
      {{> buy-now-item}}
    </div>
  </div>
</section>