<section
  class="collection-consists main-padding section-margin-top appearance-animation"
>
  <h2
    class="collection-consists__title text_color_white text_size_h2 text_weight_normal text_uppercase main-padding text-fix"
    data-i18n="main-page.collection-consists-title"
  >
    Коллекция состоит из
  </h2>
  <ul class="collection-consists__ul">
    <li class="collection-consists__li main-padding appearance-animation-1">
      <h3
        class="collection-consists__li-title text_color_black text_size_h2 text_weight_normal text_uppercase text-fix-1"
        data-i18n="main-page.texture"
      >
        Texture
      </h3>
      <div
        class="collection-consists__desc text_color_black text_size_desc text_weight_bold text_uppercase text-fix-1"
        data-i18n="main-page.texture-text"
      >
        Фотографии реальных текстур переработанного пластика
      </div>
    </li>
    <li
      class="collection-consists__li-line appearance-animation_line appearance-animation_line-1"
    ></li>
    <li class="collection-consists__li main-padding appearance-animation-2">
      <h3
        class="collection-consists__li-title text_color_black text_size_h2 text_weight_normal text_uppercase text-fix-1"
        data-i18n="main-page.illustration"
      >
        Illustration
      </h3>
      <div
        class="collection-consists__desc text_color_black text_size_desc text_weight_bold text_uppercase text-fix-1"
        data-i18n="main-page.illustration-text"
      >
        Цифровые сумки в виде иллюстраций
      </div>
    </li>
    <li
      class="collection-consists__li-line appearance-animation_line appearance-animation_line-2"
    ></li>
    <li class="collection-consists__li main-padding appearance-animation-3">
      <h3
        class="collection-consists__li-title text_color_black text_size_h2 text_weight_normal text_uppercase text-fix-1"
        data-i18n="main-page.model"
      >
        3D Model
      </h3>
      <div
        class="collection-consists__desc text_color_black text_size_desc text_weight_bold text_uppercase text-fix-1"
        data-i18n="main-page.model-text"
      >
        3D модель цифровых сумок из переработанного пластика
      </div>
    </li>
    <li
      class="collection-consists__li-line appearance-animation_line appearance-animation_line-3"
    ></li>
    <li class="collection-consists__li main-padding appearance-animation-3">
      <h3
        class="collection-consists__li-title text_color_black text_size_h2 text_weight_normal text_uppercase text-fix-1"
        data-i18n="main-page.real"
      >
        Real
      </h3>
      <div
        class="collection-consists__desc text_color_black text_size_desc text_weight_bold text_uppercase text-fix-1"
        data-i18n="main-page.real-text"
      >
        3D модель цифровых сумок и физические объекты
      </div>
    </li>
    <li
      class="collection-consists__li-line appearance-animation_line appearance-animation_line-4"
    ></li>
  </ul>
</section>