<section class="collection first-section-margin-top main-padding">
  <h1
    class="collection__title text_size_h1 text_color_black text_weight_normal text_uppercase"
    data-i18n="collection.title"
  >
    collection
  </h1>
  <div class="collection__main">
    <div class="collection__slider">
      {{> collection-slider}}
    </div>
    <div class="collection__slider section-margin-top">
      {{> collection-slider}}
    </div>
    <div class="collection__slider section-margin-top">
      {{> collection-slider}}
    </div>
  </div>
  <div 
    class="appearance-animation collection__info text_size_h2 text_color_white text_weight_normal text_uppercase text-fix section-margin-top" 
    data-i18n="collection.desc"
  >
     + 100 Limited items collection on opensea
  </div>
  <div class="collection__blur">
    <div class="collection__blur-item"></div>
  </div>
</section>