<section class="first-section first-section-margin-top main-padding">
  <h1
    class="first-section__title text_size_h1 text_color_black text_weight_normal text_uppercase"
    data-i18n="main-page.title"
  >
    Plastic–NFT
  </h1>
  <div
    class="first-section__text text_color_black text_size_h2 text_weight_normal text_uppercase"
    data-i18n="main-page.title-text"
  >
    NFT коллекция сумок с тексутрами переработанного пластика, основанными
    на&nbsp;реальных материалах Буляш Тодаевой
  </div>
  <div class="first-section__img-wrapper">
    <img
      src="../../images/content/stub-img.jpg"
      alt=""
      class="first-section__img"
    />
  </div>
  <div
    class="first-section__desc text_color_black text_size_desc text_weight_bold text_uppercase"
    data-i18n="main-page.desc"
  >
    Проект направлен на&nbsp;сбор средств на&nbsp;развитие переработки пластика
    и&nbsp;создание доступных всем материалов на&nbsp;его основе
  </div>
  <div class="blur">
    <div class="blur__item blur__item_yellow"></div>
    <div class="blur__item blur__item_blue"></div>
  </div>
</section>