<section class="gallery section-margin-top">
  <div class="gallery__img-wrapper">
    <img
      src="../../images/content/slider-img-1.jpg"
      alt=""
      class="gallery__img"
    />
    <img
      src="../../images/content/slider-img-2.jpg"
      alt=""
      class="gallery__img"
    />
    <img
      src="../../images/content/slider-img-3.jpg"
      alt=""
      class="gallery__img"
    />
  </div>
  <div class="gallery__img-wrapper gallery__img-wrapper_sub">
    <img
      src="../../images/content/slider-img-1.jpg"
      alt=""
      class="gallery__img"
    />
    <img
      src="../../images/content/slider-img-2.jpg"
      alt=""
      class="gallery__img"
    />
    <img
      src="../../images/content/slider-img-3.jpg"
      alt=""
      class="gallery__img"
    />
  </div>
</section>