<section class="in-circulation section-margin-top main-padding">
  <div class="in-circulation__blur">
    <div class="in-circulation__blur-item"></div>
  </div>
  <div
    class="in-circulation__desc text_size_h2 text_weight_normal text_color_black appearance-animation"
    data-i18n="about.in-circulation-sub-title"
  >
    НАША КОМАНДА ПОТРАТИТ
    <br />
    СРЕДСТВА С ПРОДАЖ НА РАЗВИТИЕ
    <br />
    ПЕРЕРАБОТКИ ПЛАСТИКА
    <br />
    И СОЗДАНИЕ МАТЕРИАЛОВ
    <br />
    НА ЕГО ОСНОВЕ.
  </div>
  <h1
    class="in-circulation__title text_size_h1 text_color_black text_weight_normal text_uppercase appearance-animation"
    data-i18n="about.in-circulation-title"
  >
    In circulation
  </h1>
  <div class="in-circulation__main-wrapper">
    <div class="in-circulation__main">
      {{> in-circulation-item number="1" img="../../images/content/step-1.jpeg"}}
      {{> in-circulation-item number="2" img="../../images/content/step-2.jpeg"}}
      {{> in-circulation-item number="3" img="../../images/content/step-3.jpeg"}}
      {{> in-circulation-item number="4" img="../../images/content/step-4.jpeg"}}
      {{> in-circulation-item number="5" img="../../images/content/step-5.jpeg"}}
      {{> in-circulation-item number="6" img="../../images/content/step-6.jpeg"}}
      <div class="in-circulation__desc-item with-p text_size_main text_color_white text_weight_medium appearance-animation">
        <div class="in-circulation__desc-item-text" data-i18n="about.in-circulation-desc">
          <p>
            Физические объекты созданы в рамках проекта In Circulation для Музея Прикладных искусств в Будапеште.
          </p>
          <p>
            Форма и конструкция NFT версии
            основана на реальных объектах.
          </p>
        </div>
      </div>
    </div>
    <a 
      href="" 
      class="in-circulation__link text text_size_main text_color_black appearance-animation" 
      data-i18n="about.in-circulation-instagram"
    >
      <span>Больше о проекте</span>
      <span>в Instagram</span>
    </a>
  </div>
</section>