<section class="media section-margin-top main-padding">
  <h2
    class="media__title title-margin-bottom text text_color_black text_size_h2 text_uppercase text_weight_normal appearance-animation"
    data-i18n="main-page.media-title"
  >
    СМИ, медиа, инфопартнеры о нас
  </h2>
  <div class="media__main">
    {{> media-item}}
    {{> media-item}}
    {{> media-item}}
    {{> media-item}}
  </div>
</section>