<section class="partners main-padding section-margin-top">
  <h1
    class="appearance-animation partners__title title-margin-bottom text text_color_black text_size_h2 text_uppercase text_weight_normal"
    data-i18n="main-page.partners-title"
  >
    Партнеры проекта
  </h1>
  <div class="partners__list">
    <div class="partners__item circle-item appearance-animation"></div>
    <div class="partners__item circle-item appearance-animation"></div>
    <div class="partners__item circle-item appearance-animation"></div>
    <div class="partners__item circle-item appearance-animation"></div>
    <div class="partners__item circle-item appearance-animation"></div>
    <div class="partners__item circle-item appearance-animation"></div>
  </div>
</section>
<section class="partners__main main-padding">
  <div class="partners__text-wrapper text text_color_black text_size_main section-margin-top">
    <h1
      class="title-margin-bottom partners__sub-title text text_color_black text_size_h2 text_uppercase text_weight_normal"
      data-i18n="main-page.about-title"
    >
      Эбаут
    </h1>
    <div class="partners__text" data-i18n="main-page.about-text">
      <p>
        В искусстве при общей доминанте пространственности выделяются разные способы соотнесения пространство и вещи. Пределом представления действительности
        как пространства является ее полное отождествление с пространством,
        где вещи подчинялись бы пространству вплоть до утраты своей «натуральной» формы.
      </p>
    </div>
  </div>
  <div class="partners__img-wrapper">
    {{> blot-1}}
  </div>
  <div class="partners__blur">
    <div class="partners__blur-item"></div>
  </div>
</section>