<section class="sign-in main-padding first-section-margin-top">
  <div class="sign-in__title-wrapper">
    <h1
      class="sign-in__title text text_color_black text_size_h1 text_uppercase text_weight_normal text-fix-1"
      data-i18n="sign-in.title"
    >
      Sign in
    </h1>
    <div
      class="sign-in__title-desc text text_color_black text_size_h2 text_uppercase text_weight_normal"
      data-i18n="sign-in.desc"
    >
      go to
      <br />
      your collection
    </div>
  </div>
  <form class="sign-in__form">
    <div class="sign-in__input-row">
      <div class="sign-in__input-wrapper input__wrapper">
        <input
          type="text"
          required="true"
          placeholder="E-mail"
          class="sign-in__input input text text_color_black text_size_h2 text_uppercase text_weight_normal"
        />
        <div class="input__line">
          <div class="input__line-inner"></div>
        </div>
        <div class="input__error text text_size_main">
          Error
        </div>
      </div>
      <div class="sign-in__input-wrapper input__wrapper input__wrapper_error">
        <input
          type="text"
          required="true"
          placeholder="Generate"
          class="sign-in__input input text text_color_black text_size_h2 text_uppercase text_weight_normal"
        />
        <div class="input__line">
          <div class="input__line-inner"></div>
        </div>
        <div class="input__error text text_size_main">
          Error
        </div>
      </div>
    </div>
    <a
      href="/your-collection.html"
      class="sign-in__button button button_type_main button_color_black text text_size_h2 text_uppercase text_weight_normal text-fix"
      data-i18n="sign-in.button"
    >
      Sign in
    </a>
  </form>
  <div class="sign-in__blur">
    <div class="sign-in__blur-item"></div>
  </div>
</section>