<section class="your-collection main-padding first-section-margin-top">
  <div class="your-collection__blur">
    <div class="your-collection__blur-item"></div>
  </div>
  <h1
    class="your-collection__title text text_uppercase text_size_h1 text_color_black text_weight_normal"
    data-i18n="your-collection.title"
  >
    your collection
  </h1>
  <div class="your-collection__main">
    <div class="your-collection__item-wrapper">
      {{> your-collection-item}}
    </div>
    <div class="your-collection__item-wrapper">
      {{> your-collection-item}}
    </div>
    <div class="your-collection__item-wrapper">
      {{> your-collection-item}}
    </div>
    <div class="your-collection__item-wrapper">
      {{> your-collection-item}}
    </div>
    <div class="your-collection__item-wrapper">
      {{> your-collection-item}}
    </div>
    <div class="your-collection__item-wrapper">
      {{> your-collection-item}}
    </div>
    <div class="your-collection__item-wrapper">
      {{> your-collection-item}}
    </div>
    <div class="your-collection__item-wrapper">
      {{> your-collection-item}}
    </div>
    <div class="your-collection__item-wrapper">
      {{> your-collection-item}}
    </div>
  </div>
</section>